extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript';
        var myDescription = 'Learn JavaScript is very easy';
        var landingPage = 'JavaScript';
        var activeLink =' ';
block awesome-content
    h1=mytitle
    p=myDescription
    h2 JavaScript
    p Page under construction #[a(href="/html") See something awesome!]
    h2 CSS
    p Page under construction #[a(href="/html") Click here!]
    h2 JavaScript
    p Page under construction #[a(href="/html") Discover the way up!]