extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML Elements ';
        var myDescription = 'Elements are very useful for HTML';
        var landingPage = 'HTML';
        var activeLink ='/html/elements';
block awesome-content
    h1=mytitle
    p=myDescription
    h2 HTML
    p Page under construction #[a(href="/html") See something awesome!]
    h2 CSS
    p Page under construction #[a(href="/html") Click here!]
    h2 JavaScript
    p Page under construction #[a(href="/html") Discover the way up!]